@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* --theme-bg: 52deg 100% 91%; */
		--theme-bg: 49deg 38% 94%;
		--theme-link: 172deg 18% 41%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 351deg 66% 48%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 351deg 66% 48%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 220deg 10% 10%;
		--theme-link: 100deg 49% 67%;
		--theme-text: 220deg 3% 79%;
		--theme-accent-2: 13deg 72% 59%;
		--theme-accent: 206deg 57% 59%;
		--theme-quote: 150deg 57% 60%;
	}
	@font-face {
		font-family: "JetBrains Mono";
		src:
			url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2")
				format("woff2"),
			url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff")
				format("woff");
		font-weight: 700;
		font-style: italic;
		font-display: swap;
	}
	html {
		@apply scroll-smooth;
	}

	body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 antialiased;
	}
}
