---
import { Icon } from "astro-icon/components";
import FooterSocial from "@/components/FooterSocial.astro";
import { menuLinks, siteConfig } from "@/site.config";

const year = new Date().getFullYear();
---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pt-20 pb-4 text-center align-top font-semibold text-gray-600 sm:flex-row sm:justify-between sm:text-xs dark:text-gray-400"
>
	<div class="me-0 sm:me-4 flex items-center gap-1">
		<Icon name="mdi:copyright" class="h-3.5 w-3.5" />
		{siteConfig.author}
		{year}
	</div>
	<nav aria-label="More on this site" class="sm:divide-accent flex gap-x-2 sm:gap-x-0 sm:divide-x">
		{
			menuLinks.map((link) => (
				<a
					class="sm:hover:text-accent px-4 py-2 sm:py-0 sm:hover:font-semibold sm:hover:underline"
					href={link.path}
				>
					{link.title}
				</a>
			))
		}
	</nav>
	<div class="flex items-center gap-2">
		<FooterSocial />
	</div>
</footer>
