---
import { menuLinks } from "@/site-config";

import Search from "../Search.astro";
import ThemeToggle from "../ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<header
	class="group relative mb-16 flex items-center transition-all duration-200 ease-in-out sm:ps-[4.5rem]"
	id="main-header"
>
	<div class="flex sm:flex-col">
		<a
			aria-current={url.pathname === "/" ? "page" : false}
			class="inline-flex items-center grayscale duration-500 hover:filter-none sm:relative sm:inline-block"
			href="/"
		>
			<!--?xml version="1.0" standalone="no"?-->
			<svg
				aria-hidden="true"
				class="me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12"
				fill="none"
				focusable="false"
				viewBox="15 10 150 250"
				xmlns="http://www.w3.org/2000/svg"
			>
				<title>humbled</title>
				<path
					id="pathback"
					fill="#003580"
					stroke="none"
					d="M 53.849609 184 C 45.869617 183.959991 37.720306 181.85054 31.570313 176.560547 C 30.396812 175.660065 29.30706 174.670853 28.298828 173.611328 C 27.95573 173.283722 27.621002 172.948303 27.294922 172.605469 C 26.960508 172.286133 26.632641 171.960815 26.314453 171.626953 C 25.978251 171.306717 25.649841 170.979507 25.330078 170.644531 C 18.990807 164.624954 15.591728 155.858566 15.25 147.189453 C 15.280001 112.149605 15.249765 77.110153 15.259766 42.070313 C 15.769764 34.370361 18.109634 26.390472 23.599609 20.730469 C 29.939583 12.960541 40.149727 9.369766 49.929688 9.009766 C 49.940895 9.358475 49.949989 9.707932 49.958984 10.056641 C 50.282921 10.037659 50.606537 10.021667 50.929688 10.009766 C 50.94091 10.358902 50.949978 10.707504 50.958984 11.056641 C 51.282921 11.037659 51.606537 11.021667 51.929688 11.009766 C 51.94091 11.358902 51.949978 11.707504 51.958984 12.056641 C 52.282921 12.037659 52.606537 12.021667 52.929688 12.009766 C 52.94091 12.358902 52.949978 12.707504 52.958984 13.056641 C 53.282921 13.037659 53.606537 13.021667 53.929688 13.009766 C 54.199684 21.40976 53.800552 29.809235 54.060547 38.199219 C 55.418961 48.085938 59.627224 57.625153 66.275391 65.097656 C 76.127167 73.952393 89.562286 79.151703 102.849609 77.960945 C 114.539543 76.66095 123.420929 65.640793 123.710938 54.130859 C 123.900925 39.090912 123.490631 24.039703 123.890625 9.009766 C 132.49884 9.922333 141.335037 13.004242 147.380859 19.394531 C 147.705521 19.703842 148.022934 20.023605 148.333984 20.349609 C 148.678772 20.676544 149.014328 21.013626 149.34375 21.359375 C 149.68541 21.68367 150.019089 22.0186 150.345703 22.361328 C 151.098145 23.075668 151.816589 23.833145 152.490234 24.640625 C 157.790222 30.460632 160.270233 38.330322 160.740234 46.070313 C 160.750229 81.110268 160.720001 116.14949 160.75 151.189453 C 160.509995 156.799438 159.019073 162.450867 156.289063 167.380859 C 150.879074 177.61087 139.389771 183.690948 128.009766 183.960938 C 127.995682 183.615402 127.98365 183.269409 127.970703 182.923828 C 127.65023 182.940613 127.330208 182.953339 127.009766 182.960938 C 126.995682 182.615402 126.98365 182.269409 126.970703 181.923828 C 126.65023 181.940613 126.330208 181.953339 126.009766 181.960938 C 125.995682 181.615402 125.98365 181.269409 125.970703 180.923828 C 125.65023 180.940613 125.330208 180.953339 125.009766 180.960938 C 124.995682 180.615402 124.98365 180.269409 124.970703 179.923828 C 124.65023 179.940613 124.330208 179.953339 124.009766 179.960938 C 123.319778 163.031021 124.019699 146.049316 123.679688 129.109375 C 123.28698 124.021675 121.352791 119.051399 118.228516 115.023445 C 112.421677 110.562775 104.552773 108.953026 97.400391 110.509773 C 83.760406 112.269775 70.909294 119.779861 63.029297 131.089844 C 58.149303 137.489838 55.600388 145.330414 54.150391 153.150391 C 53.650391 163.420395 54.339607 173.720016 53.849609 184 Z"
				></path>
				<path
					id="pathfront"
					fill="#CBF3FF"
					stroke="none"
					d="M 28.599998 25.729996 C 34.939999 17.960007 45.150002 14.369995 54.93 14.009995 C 55.199997 22.410004 54.800003 30.809998 55.059998 39.199997 C 56.57 50.190002 61.599998 60.75 69.589996 68.520004 C 79.559998 78.330002 93.790001 84.220001 107.849998 82.959999 C 119.539993 81.660004 128.419998 70.639999 128.710007 59.130005 C 128.899994 44.089996 128.490005 29.039993 128.889999 14.009995 C 138.039993 14.979996 147.449997 18.399994 153.490005 25.639999 C 158.789993 31.460007 161.270004 39.330002 161.740005 47.070007 C 161.75 82.110001 161.720001 117.150002 161.75 152.190002 C 161.509995 157.799988 160.020004 163.449997 157.289993 168.37999 C 151.880005 178.610001 140.389999 184.690002 129.009995 184.959991 C 128.320007 168.029999 129.020004 151.049988 128.679993 134.110001 C 128.229996 128.279999 125.759995 122.599991 121.789993 118.32 C 115.899994 112.139999 106.669998 109.709999 98.400002 111.510002 C 84.760002 113.270004 71.910004 120.780006 64.029999 132.089996 C 59.150002 138.48999 56.599998 146.330002 55.150002 154.149994 C 54.650002 164.419998 55.339996 174.720001 54.849998 185 C 46.869999 184.959991 38.720001 182.849991 32.57 177.559998 C 24.790001 171.589996 20.629997 161.830002 20.25 152.190002 C 20.279999 117.150002 20.25 82.110001 20.260002 47.070007 C 20.77 39.369995 23.110001 31.389999 28.599998 25.729996 Z"
				></path>
			</svg>
			<span class="text-xl font-bold sm:text-2xl">humbled</span>
		</a>
		<nav
			aria-label="Main menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={url.pathname === link.path ? "page" : false}
						class="px-4 py-4 underline-offset-2 sm:py-0 sm:hover:underline"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			aria-label="Open main menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button>
</header>

<script>
	import { toggleClass } from "@/utils";

	class MobileNavBtn extends HTMLElement {
		private headerEl: HTMLElement;
		private menuOpen: boolean;
		private mobileButtonEl: HTMLButtonElement;

		toggleMobileMenu = () => {
			toggleClass(this.headerEl, "menu-open");
			this.menuOpen = !this.menuOpen;
			this.mobileButtonEl.setAttribute("aria-expanded", this.menuOpen.toString());
		};

		constructor() {
			super();
			this.headerEl = document.getElementById("main-header")!;
			this.mobileButtonEl = this.querySelector("button") as HTMLButtonElement;
			this.menuOpen = false;

			this.mobileButtonEl.addEventListener("click", this.toggleMobileMenu);
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
