---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "oops! it looks like this page is lost in space!",
	title: "oops! you found a missing page!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | oops something went wrong</h1>
	<p class="mb-8">that went out of hand!</p>
	<p class="mb-8">let's go back <a href="/">home</a> shall we...</p>
</PageLayout>
